#login-container {
    width: 'fullwidth';
    background-image: linear-gradient(to left, #2c3e50, #4ca1af);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: left;
    display: flex;
    justify-items:center;
}

#login-form {
    color: white;
    margin-left: 18%;
    height: 729px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
}

#title-form{
  color: white;
  height: 700px;
  width: 800px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
}

.custom-textfield {
    border-radius: '20px';
}
  
  .custom-textfield input {
    color: #ffffff; 
}


.custom-textfield .MuiInputLabel-root {
    color: rgb(223, 223, 223);
  }
  
.link-custom{
    color: cornsilk;
}
  


.custom-textfield .MuiOutlinedInput-notchedOutline {
    border-color: #ffffff !important; 
  }
  
  .custom-textfield .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ffffff !important; 
  }
  
